<h1>Pokedex</h1>

{{#each pokemons}}
    <a href="/pokemon/{{this.name}}">
        <div>
            <b>{{this.name}}</b>
            <img width="50" src="{{this.photo}}">
            <i>{{this.type}}</i>
        </div>
    </a>
{{/each}}