<h1>My Pokemon</h1>

<div>
    <b>{{pokemon.name}}</b>
    <img width="50" src="{{pokemon.photo}}">
    <i>{{pokemon.type}}</i>
    <hr>
    <a href="/pokemon/delete/{{pokemon._id}}">Delete</a>
</div>