<form action="/session/login-local" method="post">

    Email: <input type="text" name="email"><br>
    Pass: <input type="text" name="password"><br><br>

    <input type="submit" value="Login ->">

</form>