<h1>Create</h1>

<form action="" method="post" >
    Name: <input type="text" name="name"><br>
    Photo: <input type="text" name="photo"><br>
    Type: <input type="text" name="type">

    <input type="submit" value="Crear">
</form>
