<h1>Chat</h1>
<div>
   <i id="username"></i> <input id="chatbox" type="text">
</div>
<div id="messageLogs">

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>