<h1>Agregar productos</h1>
<br>

<form id="addForm">
    <label for="title">Nombre del prodcuto</label>
    <input type="text" name="title" id="title">
    <br>
    <label for="description">Descripción del prodcuto</label>
    <br>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
    <br>
    <label for="price">Precio del prodcuto</label>
    <input type="text" name="price" id="price">
    <br>
    <label for="thumbnail">Foto del prodcuto</label>
    <input type="text" name="thumbnail" id="thumbnail">
    <br>
    <label for="stock">Stock del prodcuto</label>
    <input type="text" name="stock" id="stock">
    <br>
    <label for="category">Categoria del prodcuto</label>
    <input type="text" name="category" id="category">
    <br>
    <button type="submit">Ingresar Producto</button>
</form>

<script src="/js/home.js"></script>