<h1>Products</h1>
<hr>
<table id="productsTable">
    <tr>
        <td><strong>Producto</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Precio</strong></td>
        <td><strong>Stock</strong></td>
    </tr>
    {{#each data.docs}}
    <tr>
    <td>{{this.title}}</td>
    <td>{{this.description}}</td>
    <td>{{this.price}}</td>
    <td>{{this.stock}}</td>
    </tr>
    {{/each}}  
</table>
<div id="moving"></div>